<div fxLayout="row" class="contentMain" id="contentMain">
    <div class="canvasWrapper" id="canvasWrapper">
        <canvas class="canvasElement" id="canvasElement"></canvas>
        <div class="floatingMainMenu" fxLayout="column" *ngIf="activeObject == null">
            <div fxLayout="row">
                <button mat-icon-button class="optionsButton" matTooltip="Add node" matTooltipPosition="below" (click)="AddNode()">
                    <mat-icon>scatter_plot</mat-icon>
                </button>
                <button mat-icon-button (click)="toggleEdgeState()" class="optionsButton" matTooltip="Add Edge" matTooltipPosition="below"
                    [style.color]="isLinkingEnabled ? '#FFFFFF':'#000000'" [style.backgroundColor]="isLinkingEnabled ? '#008000':'#FFFFFF'">
                    <mat-icon>call_made</mat-icon>
                </button>
                <button mat-icon-button class="optionsButton" matTooltip="How to use the simulator?" matTooltipPosition="below"
                    (click)="showHelp()">
                    <mat-icon>help</mat-icon>
                </button>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Algorithm</mat-label>
                    <mat-select [(ngModel)]="selectedAlgorithm" name="food">
                        <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                            {{algorithm}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)="runSimulator()">
                    Start simulation
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </div>
            <div>
                <div *ngFor="let n of numbers">{{n}},</div>
            </div>
        </div>
        <div class="floatingMainMenu" fxLayout="column" *ngIf="activeObject != null && activeObject.type=='UIElementNode'">
            <div style="margin-bottom: 5px;">Node type: {{getNodeTypeAsString(activeObject)}} </div>
            <div style="margin-bottom: 5px;">
                <button
                    mat-raised-button 
                    style="background-color: #0849A2; color: white;"
                    (click)="makeStartNode(activeObject)">
                    Make start state
                </button>
            </div>
            <div style="margin-bottom: 5px;">
                <button 
                    (click)="makeGoalNode(activeObject)"
                    mat-raised-button style="background-color: #08A229; color: white;">
                    Make goal state
                </button>
            </div>
            <div style="margin-bottom: 5px;">
                <button
                    mat-raised-button class="optionsButton"
                    (click)="makeIntermediateNode(activeObject)"
                    style="background-color: #FF5733; color: white">
                    Make intermediate state
                </button>
            </div>
        </div>
        <div class="floatingMainMenu" *ngIf="activeObject != null && activeObject.type=='UIElementEdge'">
            This is an edge
        </div>
        <div class="uiUtilityMenu" fxLayout="column">
            <div>
                <button mat-icon-button class="optionsButton" matTooltip="Zoom in" matTooltipPosition="below"
                    (click)="zoomIn()">
                    <mat-icon>zoom_in</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button class="optionsButton" matTooltip="Zoom out" matTooltipPosition="below"
                    (click)="zoomOut()">
                    <mat-icon>zoom_out</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button class="optionsButton" matTooltip="Fit to screen" matTooltipPosition="below"
                    (click)="groupFocus()">
                    <mat-icon>center_focus_strong</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button class="optionsButton" matTooltip="Pan" matTooltipPosition="below" 
                    (click)="togglePan()" [style.color]=" isDragButtonEnabled ? 'black':'lightgrey'">
                    <mat-icon>pan_tool</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>