<div fxLayout="row" class="contentMain" id="contentMain">
    <div class="canvasWrapper" id="canvasWrapper">
        <canvas class="canvasElement" id="canvasElement"></canvas>
        <div class="floatingMainMenu" fxLayout="column">
            <div fxLayout="row">
                <button mat-icon-button class="optionsButton" matTooltip="Add node" matTooltipPosition="below">
                    <mat-icon>scatter_plot</mat-icon>
                </button>
                <button mat-icon-button class="optionsButton" matTooltip="Add Edge" matTooltipPosition="below">
                    <mat-icon>call_made</mat-icon>
                </button>
                <button mat-icon-button class="optionsButton" matTooltip="Fit to screen" matTooltipPosition="below">
                    <mat-icon>center_focus_strong</mat-icon>
                </button>
                <button mat-icon-button class="optionsButton" matTooltip="How to use the simulator?" matTooltipPosition="below">
                    <mat-icon>help</mat-icon>
                </button>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Algorithm</mat-label>
                    <mat-select [(ngModel)]="selectedAlgorithm" name="food">
                        <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                            {{algorithm}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button>
                    Start simulation
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>